@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body, html {
    background-color: #F5F5F5;
}

.page-hdr {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.navbar-color {
    background-color: #141414;
    border-color: #0c0c0c;
    border-radius: 0px;
}

.fnt{
    color: #0c0c0c;
    font-family: 'Quicksand', sans-serif;
}


.underline-on-hover:hover {
    font-weight:bold;
    text-decoration: underline;
}

.note {
    position: relative;
    width: 20%;
    padding: 0.3em 0.3em;
    color: #fff;
    background: #141414;
    overflow: hidden;
}
  
.note:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #F5F5F5 #F5F5F5 #658E15 #658E15;
    background: #658E15;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
}
  
.note.rounded {
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}
  
.note.rounded:before {
    border-width: 8px;
    border-color: #F5F5F5 #F5F5F5 transparent transparent;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(90, 133, 27, 0.8);
}
.tbl-content{
    height:100px;
    overflow-x:auto;
    margin-top: 0px;
    border-top: solid 1px rgba(0,0,0,0.3);
    border: 1px solid #1a1a1a;
    border: 1px solid rgba(0,0,0,0.3);
}
th {
    padding: 10px 15px;
    text-align: left;
    font-weight: 800;
    font-size: 5px;
    color: #1a1a1a;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #1a1a1a;
    border-bottom: solid 1px rgba(0,0,0,0.3);
} 

  


  