a.name:first-letter 
{
	text-transform: uppercase;
}
/* #navigation{
	background-color: rgba(0,0,0,0.3);
}

p {
    margin: 0 10px 0px;
}
body {
    color: #97a9b3;
}

.panel {
    margin-bottom: 22px;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(17, 37, 47, 0.76);
}
.panel {
    margin-top: 20px;
}
button, input, select, textarea {
    font-family: sans-serif;
}
.title1, .title2 {
    margin: 0px auto;
    display: block;
    text-align: center;
    font-family: sans-serif;
    color: #eeeeee;
}
.title {
    margin: 0px auto;
    margin-top: 30px;
    display: block;
    text-align: center;
    font-family: sans-serif;
    color: #eeeeee;
}
#startbutton.active, #startbutton:active, #startbutton:hover{
    background: linear-gradient(#1b3a49,#18739f);
    outline: none;
    border-color: #3d8fb9;
}
#startbutton {
    color: #fff;
    background: linear-gradient(#18739f,#1b3a49);
    border-color: #3d8fb9;
    display: block;
    width: 50%;
    margin: 40px auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 450px;
    height: 60px;
    font-size: 25px;
}
.label{
    padding: 0em 0em 0em;
}
.label1{
    font-size: 175%;
    display: inline;
}
.page-header{
    border: none;
}
.page-header {
    margin: 44px 0 0px;
    padding-bottom: 0px;
}
#scorehead{
    background-color: rgb(10, 28, 37);
}
#scoretable{
    background-color: rgba(21, 51, 66, 0.76);
}
.page-header1{
    margin-top: 0px;   
}
#startbutton2 .btn btn-success input-sm{
    color: #fff;
    background: linear-gradient(#18739f,#1b3a49);
    border-color: #3d8fb9;
    display: block;
    width: 50%;
    margin: 40px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    height: 60px;
    font-size: 25px;
}

.pull-right {
    float: right!important;
    margin-top: 40px;
}
.thanks{
    margin-top: 5px;
    display:block;
    text-align: center;
} */
