
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');
body {
    height: 100%;
}
.logo { 
    background:  url(../images/final.gif) no-repeat center center fixed; 
    background-size: cover;
}

.breezy {
  font-family: 'Quicksand', sans-serif;
  position: absolute; 
  bottom:7%; 
  left:38%;
  width: 25%;
  /* border-bottom: 2px solid rgba(255,255,255, 0.3); */
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
  border-radius: 6px;
  padding: 15px;
  background:linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);
  box-shadow: 1px 1px 30px rgba(2,119,189 ,1);
  color: rgb(8, 8, 8);
  cursor: pointer;
  transition: all 600ms ease-in-out;
  text-decoration: none !important;
  text-align: center;
  }
  .breezy:hover {
    background:linear-gradient( to top right,rgba(156,204,101 ,1) 0%, rgba(38,198,218 ,1) 50%);
    box-shadow: 1px 1px 30px rgba(38,198,218 ,1);
  }
